.blue {background:rgba(0,0,255,0.8);}
.green {background:rgba(0,255,0,0.8); }
.red {background: rgba(255,0,0,0.8);}
.grey {background: rgba(0,0,0,0.2);}
.black {background: rgba(0,0,0,0.8);}
.yellow {background: rgba(255,255,0,0.8);}